<a href="https://colab.research.google.com/github/syuniGo/stock-markets-analytics-zoomcamp/blob/main/week2_homework_2_md.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yfinance

# IMPORTS
import numpy as np
import pandas as pd

#Fin Data Sources
import yfinance as yf
import pandas_datareader as pdr

#Data viz
import plotly.graph_objs as go
import plotly.express as px

import time
from datetime import date

# for graphs
import matplotlib.pyplot as plt
import requests

Requirement already satisfied: yfinance in /usr/local/lib/python3.10/dist-packages (0.2.38)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.0.3)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.25.2)
Requirement already satisfied: requests>=2.31 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.9.4)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2023.4)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in /usr/local/lib/python3.10/dist-packages (from yfinance) (3.17.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (2024.2.2)

In [2]:
# https://companiesmarketcap.com/usa/largest-companies-in-the-usa-by-market-cap/
US_STOCKS = ['MSFT', 'AAPL', 'GOOG', 'NVDA', 'AMZN', 'META', 'BRK-B', 'LLY', 'AVGO','V', 'JPM']

# You're required to add EU_STOCKS and INDIA_STOCS
# https://companiesmarketcap.com/european-union/largest-companies-in-the-eu-by-market-cap/
EU_STOCKS = ['NVO','MC.PA', 'ASML', 'RMS.PA', 'OR.PA', 'SAP', 'ACN', 'TTE', 'SIE.DE','IDEXY','CDI.PA']

# https://companiesmarketcap.com/india/largest-companies-in-india-by-market-cap/
INDIA_STOCKS = ['RELIANCE.NS','TCS.NS','HDB','BHARTIARTL.NS','IBN','SBIN.NS','LICI.NS','INFY','ITC.NS','HINDUNILVR.NS','LT.NS']

In [3]:
LARGEST_STOCKS = US_STOCKS + EU_STOCKS + INDIA_STOCKS

In [4]:
NEW_US = ['TSLA','WMT','XOM','UNH','MA','PG','JNJ','MRK','HD','COST','ORCL']
NEW_EU = ['PRX.AS','CDI.PA','AIR.PA','SU.PA','ETN','SNY','BUD','DTE.DE','ALV.DE','MDT','AI.PA','EL.PA']
NEW_INDIA = ['BAJFINANCE.NS','MARUTI.NS','HCLTECH.NS','TATAMOTORS.NS','SUNPHARMA.NS','ONGC.NS','ADANIENT.NS','ADANIENT.NS','NTPC.NS','KOTAKBANK.NS','TITAN.NS']

In [5]:
LARGE_STOCKS = NEW_EU + NEW_US + NEW_INDIA

ALL_TICKERS = LARGEST_STOCKS + LARGE_STOCKS

In [6]:
import time
def getStock(stockList, stock_category):
  stocks_df = pd.DataFrame({'A' : []})

  for i,ticker in enumerate(stockList):
    print(i,ticker)

    # Work with stock prices
    historyPrices = yf.download(tickers = ticker,
                      period = "max",
                      interval = "1d")

    # generate features for historical prices, and what we want to predict
    historyPrices['Ticker'] = ticker
    historyPrices['Year']= historyPrices.index.year
    historyPrices['Month'] = historyPrices.index.month
    historyPrices['Weekday'] = historyPrices.index.weekday
    historyPrices['Date'] = historyPrices.index.date
    historyPrices['stock_category'] = stock_category

    # historical returns
    for i in [1,3,7,30,90,365]:
      historyPrices['growth_'+str(i)+'d'] = historyPrices['Adj Close'] / historyPrices['Adj Close'].shift(i)
    historyPrices['growth_future_5d'] = historyPrices['Adj Close'].shift(-5) / historyPrices['Adj Close']

    # Technical indicators
    # SimpleMovingAverage 10 days and 20 days
    historyPrices['SMA10']= historyPrices['Close'].rolling(10).mean()
    historyPrices['SMA20']= historyPrices['Close'].rolling(20).mean()
    historyPrices['growing_moving_average'] = np.where(historyPrices['SMA10'] > historyPrices['SMA20'], 1, 0)
    historyPrices['high_minus_low_relative'] = (historyPrices.High - historyPrices.Low) / historyPrices['Adj Close']

    # 30d rolling volatility : https://ycharts.com/glossary/terms/rolling_vol_30
    historyPrices['volatility'] =   historyPrices['Adj Close'].rolling(30).std() * np.sqrt(252)

    # what we want to predict
    historyPrices['is_positive_growth_5d_future'] = np.where(historyPrices['growth_future_5d'] > 1, 1, 0)

    # sleep 1 sec between downloads - not to overload the API server
    time.sleep(1)


    if stocks_df.empty:
      stocks_df = historyPrices
    else:
      stocks_df = pd.concat([stocks_df, historyPrices], ignore_index=True)
  return stocks_df

In [7]:

def get_ticker_type(ticker:str, us_stocks_list, eu_stocks_list, india_stocks_list):
  if ticker in us_stocks_list:
    return 'US'
  elif ticker in eu_stocks_list:
    return 'EU'
  elif ticker in india_stocks_list:
    return 'INDIA'
  else:
    return 'ERROR'

In [8]:
df_LARGE_STOCKS = getStock(LARGE_STOCKS,'LARGE')
df_LARGEST_STOCKS = getStock(LARGEST_STOCKS,'LARGEST')

0 PRX.AS

[*********************100%%**********************]  1 of 1 completed

1 CDI.PA

[*********************100%%**********************]  1 of 1 completed

2 AIR.PA

[*********************100%%**********************]  1 of 1 completed

3 SU.PA

[*********************100%%**********************]  1 of 1 completed

4 ETN

[*********************100%%**********************]  1 of 1 completed

5 SNY

[*********************100%%**********************]  1 of 1 completed

6 BUD

[*********************100%%**********************]  1 of 1 completed

7 DTE.DE

[*********************100%%**********************]  1 of 1 completed

8 ALV.DE

[*********************100%%**********************]  1 of 1 completed

9 MDT

[*********************100%%**********************]  1 of 1 completed

10 AI.PA

[*********************100%%**********************]  1 of 1 completed

11 EL.PA

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

12 TSLA

13 WMT

[*********************100%%**********************]  1 of 1 completed

14 XOM

[*********************100%%**********************]  1 of 1 completed

15 UNH

[*********************100%%**********************]  1 of 1 completed

16 MA

[*********************100%%**********************]  1 of 1 completed

17 PG

[*********************100%%**********************]  1 of 1 completed

18 JNJ

[*********************100%%**********************]  1 of 1 completed

19 MRK

[*********************100%%**********************]  1 of 1 completed

20 HD

[*********************100%%**********************]  1 of 1 completed

21 COST

[*********************100%%**********************]  1 of 1 completed

22 ORCL

[*********************100%%**********************]  1 of 1 completed

23 BAJFINANCE.NS

[*********************100%%**********************]  1 of 1 completed

24 MARUTI.NS

[*********************100%%**********************]  1 of 1 completed

25 HCLTECH.NS

[*********************100%%**********************]  1 of 1 completed

26 TATAMOTORS.NS

[*********************100%%**********************]  1 of 1 completed

27 SUNPHARMA.NS

[*********************100%%**********************]  1 of 1 completed

28 ONGC.NS

[*********************100%%**********************]  1 of 1 completed

29 ADANIENT.NS

[*********************100%%**********************]  1 of 1 completed

30 ADANIENT.NS

[*********************100%%**********************]  1 of 1 completed

31 NTPC.NS

[*********************100%%**********************]  1 of 1 completed

32 KOTAKBANK.NS

[*********************100%%**********************]  1 of 1 completed

33 TITAN.NS

[*********************100%%**********************]  1 of 1 completed

0 MSFT

[*********************100%%**********************]  1 of 1 completed

1 AAPL

[*********************100%%**********************]  1 of 1 completed

2 GOOG

[*********************100%%**********************]  1 of 1 completed

3 NVDA

[*********************100%%**********************]  1 of 1 completed

4 AMZN

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

5 META

6 BRK-B

[*********************100%%**********************]  1 of 1 completed

7 LLY

[*********************100%%**********************]  1 of 1 completed

8 AVGO

[*********************100%%**********************]  1 of 1 completed

9 V

[*********************100%%**********************]  1 of 1 completed

10 JPM

[*********************100%%**********************]  1 of 1 completed

11 NVO

[*********************100%%**********************]  1 of 1 completed

12 MC.PA

[*********************100%%**********************]  1 of 1 completed

13 ASML

[*********************100%%**********************]  1 of 1 completed

14 RMS.PA

[*********************100%%**********************]  1 of 1 completed

15 OR.PA

[*********************100%%**********************]  1 of 1 completed

16 SAP

[*********************100%%**********************]  1 of 1 completed

17 ACN

[*********************100%%**********************]  1 of 1 completed

18 TTE

[*********************100%%**********************]  1 of 1 completed

19 SIE.DE

[*********************100%%**********************]  1 of 1 completed

20 IDEXY

[*********************100%%**********************]  1 of 1 completed

21 CDI.PA

[*********************100%%**********************]  1 of 1 completed

22 RELIANCE.NS

[*********************100%%**********************]  1 of 1 completed

23 TCS.NS

[*********************100%%**********************]  1 of 1 completed

24 HDB

[*********************100%%**********************]  1 of 1 completed

25 BHARTIARTL.NS

[*********************100%%**********************]  1 of 1 completed

26 IBN

[*********************100%%**********************]  1 of 1 completed

27 SBIN.NS

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

28 LICI.NS

29 INFY

[*********************100%%**********************]  1 of 1 completed

30 ITC.NS

[*********************100%%**********************]  1 of 1 completed

31 HINDUNILVR.NS

[*********************100%%**********************]  1 of 1 completed

32 LT.NS

[*********************100%%**********************]  1 of 1 completed

In [9]:
df_LARGEST_STOCKS

,Open,High,Low,Close,Adj Close,Volume,Ticker,Year,Month,Weekday,...,growth_30d,growth_90d,growth_365d,growth_future_5d,SMA10,SMA20,growing_moving_average,high_minus_low_relative,volatility,is_positive_growth_5d_future
0,0.088542,0.101563,0.088542,0.097222,0.060163,1031788800,MSFT,1986,3,3,...,NaN,NaN,NaN,0.982144,NaN,NaN,0,0.216429,NaN,0
1,0.097222,0.102431,0.097222,0.100694,0.062311,308160000,MSFT,1986,3,4,...,NaN,NaN,NaN,0.922419,NaN,NaN,0,0.083596,NaN,0
2,0.100694,0.103299,0.100694,0.102431,0.063386,133171200,MSFT,1986,3,0,...,NaN,NaN,NaN,0.881354,NaN,NaN,0,0.041097,NaN,0
3,0.102431,0.103299,0.098958,0.099826,0.061774,67766400,MSFT,1986,3,1,...,NaN,NaN,NaN,0.921744,NaN,NaN,0,0.070272,NaN,0
4,0.099826,0.100694,0.097222,0.098090,0.060700,47894400,MSFT,1986,3,2,...,NaN,NaN,NaN,0.964604,NaN,NaN,0,0.057199,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221144,3590.050049,3634.149902,3576.050049,3599.500000,3599.500000,3748847,LT.NS,2024,5,3,...,0.997589,1.031967,1.790292,NaN,3601.260010,3665.660010,0,0.016141,1621.903216,0
221145,3610.000000,3622.000000,3488.449951,3499.800049,3499.800049,4079696,LT.NS,2024,5,4,...,0.989441,1.002348,1.738504,NaN,3596.145020,3650.280017,0,0.038159,1648.409347,0
221146,3522.800049,3527.000000,3441.100098,3463.300049,3463.300049,2614667,LT.NS,2024,5,0,...,0.972509,0.989811,1.732523,NaN,3590.640015,3634.322522,0,0.024803,1717.911592,0
221147,3479.399902,3496.000000,3425.000000,3427.750000,3427.750000,3376013,LT.NS,2024,5,1,...,0.978882,1.002706,1.737153,NaN,3572.145020,3615.817517,0,0.020713,1784.754386,0
221148,3429.000000,3477.449951,3367.800049,3461.850098,3461.850098,2844528,LT.NS,2024,5,2,...,0.986366,1.011010,1.725253,NaN,3557.315039,3601.755017,0,0.031674,1821.441496,0

In [10]:
stocks_df = pd.concat([df_LARGEST_STOCKS, df_LARGE_STOCKS])

In [11]:
stocks_df['ticker_type'] = stocks_df.Ticker.apply(lambda x:get_ticker_type(x, US_STOCKS, EU_STOCKS, INDIA_STOCKS))
# stocks_df['ticker_type'] = stocks_df.Ticker.apply(lambda x:get_ticker_type(x, US_STOCKS, EU_STOCKS, INDIA_STOCKS))

In [12]:
# stocks_df.ticker_type.value_counts()

In [13]:
stocks_df.Ticker.value_counts()

Ticker
CDI.PA     16656
JNJ        15694
XOM        15694
PG         15694
MRK        15694
           ...
IDEXY       3599
TSLA        3488
META        3011
PRX.AS      1193
LICI.NS      488
Name: count, Length: 65, dtype: int64

In [14]:
stocks_df.groupby(['Ticker','stock_category']).Date.agg(['min','max'])

                                   min         max
Ticker      stock_category
AAPL        LARGEST         1980-12-12  2024-05-07
ACN         LARGEST         2001-07-19  2024-05-07
ADANIENT.NS LARGE           2002-07-01  2024-05-08
AI.PA       LARGE           2000-01-03  2024-05-07
AIR.PA      LARGE           2001-09-03  2024-05-07
...                                ...         ...
TTE         LARGEST         1991-10-25  2024-05-07
UNH         LARGE           1984-10-17  2024-05-07
V           LARGEST         2008-03-19  2024-05-07
WMT         LARGE           1972-08-25  2024-05-07
XOM         LARGE           1962-01-02  2024-05-07

[66 rows x 2 columns]

In [15]:
stocks_df.Ticker.nunique()

65

In [16]:
stocks_df.Ticker.value_counts()
stocks_df.head().Year

0    1986
1    1986
2    1986
3    1986
4    1986
Name: Year, dtype: int32

In [17]:
df2 = stocks_df[(stocks_df.Year>=2014) & (stocks_df.Year<2024)].groupby(['stock_category','Date'])['growth_7d'].mean().reset_index()

In [18]:
pivot_df = df2.pivot(index='Date', columns='stock_category', values='growth_7d')

In [19]:
result_dates = pivot_df[pivot_df['LARGE'] > pivot_df['LARGEST']].index
print(result_dates)

Index([2014-01-03, 2014-01-06, 2014-01-08, 2014-01-09, 2014-01-10, 2014-01-13,
       2014-01-14, 2014-01-15, 2014-01-16, 2014-01-17,
       ...
       2023-11-28, 2023-11-29, 2023-11-30, 2023-12-01, 2023-12-04, 2023-12-05,
       2023-12-06, 2023-12-07, 2023-12-08, 2023-12-11],
      dtype='object', name='Date', length=1231)

In [20]:
1231/2595

0.474373795761079

In [21]:
stocks_df[stocks_df['stock_category']=='LARGEST'].groupby(['Ticker']).count()

,Open,High,Low,Close,Adj Close,Volume,Year,Month,Weekday,Date,...,growth_90d,growth_365d,growth_future_5d,SMA10,SMA20,growing_moving_average,high_minus_low_relative,volatility,is_positive_growth_5d_future,ticker_type
Ticker,,,,,,,,,,,,,,,,,,,,,
AAPL,10941,10941,10941,10941,10941,10941,10941,10941,10941,10941,...,10851,10576,10936,10932,10922,10941,10941,10912,10941,10941
ACN,5736,5736,5736,5736,5736,5736,5736,5736,5736,5736,...,5646,5371,5731,5727,5717,5736,5736,5707,5736,5736
AMZN,6789,6789,6789,6789,6789,6789,6789,6789,6789,6789,...,6699,6424,6784,6780,6770,6789,6789,6760,6789,6789
ASML,7338,7338,7338,7338,7338,7338,7338,7338,7338,7338,...,7248,6973,7333,7329,7319,7338,7338,7309,7338,7338
AVGO,3713,3713,3713,3713,3713,3713,3713,3713,3713,3713,...,3623,3348,3708,3704,3694,3713,3713,3684,3713,3713
BHARTIARTL.NS,5425,5425,5425,5425,5425,5425,5425,5425,5425,5425,...,5335,5060,5420,5416,5406,5425,5425,5396,5425,5425
BRK-B,7046,7046,7046,7046,7046,7046,7046,7046,7046,7046,...,6956,6681,7041,7037,7027,7046,7046,7017,7046,7046
CDI.PA,8328,8328,8328,8328,8328,8328,8328,8328,8328,8328,...,8238,7963,8323,8319,8309,8328,8328,8299,8328,8328
GOOG,4963,4963,4963,4963,4963,4963,4963,4963,4963,4963,...,4873,4598,4958,4954,4944,4963,4963,4934,4963,4963
HDB,5735,5735,5735,5735,5735,5735,5735,5735,5735,5735,...,5645,5370,5730,5726,5716,5735,5735,5706,5735,5735
HINDUNILVR.NS,7123,7123,7123,7123,7123,7123,7123,7123,7123,7123,...,7033,6758,7118,7114,7104,7123,7123,7094,7123,7123
IBN,6066,6066,6066,6066,6066,6066,6066,6066,6066,6066,...,5976,5701,6061,6057,6047,6066,6066,6037,6066,6066
IDEXY,3599,3599,3599,3599,3599,3599,3599,3599,3599,3599,...,3509,3234,3594,3590,3580,3599,3599,3570,3599,3599
INFY,6331,6331,6331,6331,6331,6331,6331,6331,6331,6331,...,6241,5966,6326,6322,6312,6331,6331,6302,6331,6331
ITC.NS,7120,7120,7120,7120,7120,7120,7120,7120,7120,7120,...,7030,6755,7115,7111,7101,7120,7120,7091,7120,7120
JPM,11129,11129,11129,11129,11129,11129,11129,11129,11129,11129,...,11039,10764,11124,11120,11110,11129,11129,11100,11129,11129
LICI.NS,488,488,488,488,488,488,488,488,488,488,...,398,123,483,479,469,488,488,459,488,488
LLY,13095,13095,13095,13095,13095,13095,13095,13095,13095,13095,...,13005,12730,13090,13086,13076,13095,13095,13066,13095,13095
LT.NS,5428,5428,5428,5428,5428,5428,5428,5428,5428,5428,...,5338,5063,5423,5419,5409,5428,5428,5399,5428,5428
MC.PA,6258,6258,6258,6258,6258,6258,6258,6258,6258,6258,...,6168,5893,6253,6249,6239,6258,6258,6229,6258,6258
META,3011,3011,3011,3011,3011,3011,3011,3011,3011,3011,...,2921,2646,3006,3002,2992,3011,3011,2982,3011,3011
MSFT,9615,9615,9615,9615,9615,9615,9615,9615,9615,9615,...,9525,9250,9610,9606,9596,9615,9615,9586,9615,9615
NVDA,6364,6364,6364,6364,6364,6364,6364,6364,6364,6364,...,6274,5999,6359,6355,6345,6364,6364,6335,6364,6364
NVO,10846,10846,10846,10846,10846,10846,10846,10846,10846,10846,...,10756,10481,10841,10837,10827,10846,10846,10817,10846,10846
OR.PA,6258,6258,6258,6258,6258,6258,6258,6258,6258,6258,...,6168,5893,6253,6249,6239,6258,6258,6229,6258,6258
RELIANCE.NS,7120,7120,7120,7120,7120,7120,7120,7120,7120,7120,...,7030,6755,7115,7111,7101,7120,7120,7091,7120,7120
RMS.PA,6258,6258,6258,6258,6258,6258,6258,6258,6258,6258,...,6168,5893,6253,6249,6239,6258,6258,6229,6258,6258
SAP,7209,7209,7209,7209,7209,7209,7209,7209,7209,7209,...,7119,6844,7204,7200,7190,7209,7209,7180,7209,7209
SBIN.NS,7121,7121,7121,7121,7121,7121,7121,7121,7121,7121,...,7031,6756,7116,7112,7102,7121,7121,7092,7121,7121
SIE.DE,7046,7046,7046,7046,7046,7046,7046,7046,7046,7046,...,6956,6681,7041,7037,7027,7046,7046,7017,7046,7046
TCS.NS,5395,5395,5395,5395,5395,5395,5395,5395,5395,5395,...,5305,5030,5390,5386,5376,5395,5395,5366,5395,5395
TTE,8193,8193,8193,8193,8193,8193,8193,8193,8193,8193,...,8103,7828,8188,8184,8174,8193,8193,8164,8193,8193
V,4062,4062,4062,4062,4062,4062,4062,4062,4062,4062,...,3972,3697,4057,4053,4043,4062,4062,4033,4062,4062

In [22]:
url = 'https://anaconda.org/conda-forge/libta-lib/0.4.0/download/linux-64/libta-lib-0.4.0-h166bdaf_1.tar.bz2'
!curl -L $url | tar xj -C /usr/lib/x86_64-linux-gnu/ lib --strip-components=1
url = 'https://anaconda.org/conda-forge/ta-lib/0.4.19/download/linux-64/ta-lib-0.4.19-py310hde88566_4.tar.bz2'
!curl -L $url | tar xj -C /usr/local/lib/python3.10/dist-packages/ lib/python3.10/site-packages/talib --strip-components=3
import talib

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  4219    0  4219    0     0  25608      0 --:--:-- --:--:-- --:--:-- 25569
100  517k  100  517k    0     0  1359k      0 --:--:-- --:--:-- --:--:-- 1359k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  4151    0  4151    0     0  27019      0 --:--:-- --:--:-- --:--:-- 27130
100  392k  100  392k    0     0   959k      0 --:--:-- --:--:-- --:--:--  959k

In [23]:
def talib_get_momentum_indicators_for_one_ticker(df: pd.DataFrame) -> pd.DataFrame:
  # ADX - Average Directional Movement Index
  talib_momentum_adx = talib.ADX(df.High.values, df.Low.values, df.Close.values, timeperiod=14)
  # ADXR - Average Directional Movement Index Rating
  talib_momentum_adxr = talib.ADXR(df.High.values, df.Low.values, df.Close.values, timeperiod=14 )
  # APO - Absolute Price Oscillator
  talib_momentum_apo = talib.APO(df.Close.values, fastperiod=12, slowperiod=26, matype=0 )
  # AROON - Aroon
  talib_momentum_aroon = talib.AROON(df.High.values, df.Low.values, timeperiod=14 )
  # talib_momentum_aroon[0].size
  # talib_momentum_aroon[1].size
  # AROONOSC - Aroon Oscillator
  talib_momentum_aroonosc = talib.AROONOSC(df.High.values, df.Low.values, timeperiod=14)
  # BOP - Balance of Power
  # https://school.stockcharts.com/doku.php?id=technical_indicators:balance_of_power
     #calculate open prices as shifted closed prices from the prev day
     # open = df.Last.shift(1)
  talib_momentum_bop = talib.BOP(df.Open.values, df.High.values, df.Low.values, df.Close.values)
  # CCI - Commodity Channel Index
  talib_momentum_cci = talib.CCI(df.High.values, df.Low.values, df.Close.values, timeperiod=14)
  # CMO - Chande Momentum Oscillator
  talib_momentum_cmo = talib.CMO(df.Close.values, timeperiod=14)
  # DX - Directional Movement Index
  talib_momentum_dx = talib.DX(df.High.values, df.Low.values, df.Close.values, timeperiod=14)
  # MACD - Moving Average Convergence/Divergence
  talib_momentum_macd, talib_momentum_macdsignal, talib_momentum_macdhist = talib.MACD(df.Close.values, fastperiod=12, \
                                                                                       slowperiod=26, signalperiod=9)
  # MACDEXT - MACD with controllable MA type
  talib_momentum_macd_ext, talib_momentum_macdsignal_ext, talib_momentum_macdhist_ext = talib.MACDEXT(df.Close.values, \
                                                                                                    fastperiod=12, \
                                                                                                    fastmatype=0, \
                                                                                                    slowperiod=26, \
                                                                                                    slowmatype=0, \
                                                                                                    signalperiod=9, \
                                                                                                  signalmatype=0)
  # MACDFIX - Moving Average Convergence/Divergence Fix 12/26
  talib_momentum_macd_fix, talib_momentum_macdsignal_fix, talib_momentum_macdhist_fix = talib.MACDFIX(df.Close.values, \
                                                                                                      signalperiod=9)
  # MFI - Money Flow Index
  talib_momentum_mfi = talib.MFI(df.High.values, df.Low.values, df.Close.values, df.Volume.values, timeperiod=14)
  # MINUS_DI - Minus Directional Indicator
  talib_momentum_minus_di = talib.MINUS_DM(df.High.values, df.Low.values, timeperiod=14)
  # MOM - Momentum
  talib_momentum_mom = talib.MOM(df.Close.values, timeperiod=10)
  # PLUS_DI - Plus Directional Indicator
  talib_momentum_plus_di = talib.PLUS_DI(df.High.values, df.Low.values, df.Close.values, timeperiod=14)
  # PLUS_DM - Plus Directional Movement
  talib_momentum_plus_dm = talib.PLUS_DM(df.High.values, df.Low.values, timeperiod=14)
  # PPO - Percentage Price Oscillator
  talib_momentum_ppo = talib.PPO(df.Close.values, fastperiod=12, slowperiod=26, matype=0)
  # ROC - Rate of change : ((price/prevPrice)-1)*100
  talib_momentum_roc = talib.ROC(df.Close.values, timeperiod=10)
  # ROCP - Rate of change Percentage: (price-prevPrice)/prevPrice
  talib_momentum_rocp = talib.ROCP(df.Close.values, timeperiod=10)
  # ROCR - Rate of change ratio: (price/prevPrice)
  talib_momentum_rocr = talib.ROCR(df.Close.values, timeperiod=10)
  # ROCR100 - Rate of change ratio 100 scale: (price/prevPrice)*100
  talib_momentum_rocr100 = talib.ROCR100(df.Close.values, timeperiod=10)
  # RSI - Relative Strength Index
  talib_momentum_rsi = talib.RSI(df.Close.values, timeperiod=14)
  # STOCH - Stochastic
  talib_momentum_slowk, talib_momentum_slowd = talib.STOCH(df.High.values, df.Low.values, df.Close.values, \
                                                           fastk_period=5, slowk_period=3, slowk_matype=0, slowd_period=3, slowd_matype=0)
  # STOCHF - Stochastic Fast
  talib_momentum_fastk, talib_momentum_fastd = talib.STOCHF(df.High.values, df.Low.values, df.Close.values, \
                                                            fastk_period=5, fastd_period=3, fastd_matype=0)
  # STOCHRSI - Stochastic Relative Strength Index
  talib_momentum_fastk_rsi, talib_momentum_fastd_rsi = talib.STOCHRSI(df.Close.values, timeperiod=14, \
                                                                      fastk_period=5, fastd_period=3, fastd_matype=0)
  # TRIX - 1-day Rate-Of-Change (ROC) of a Triple Smooth EMA
  talib_momentum_trix = talib.TRIX(df.Close.values, timeperiod=30)
  # ULTOSC - Ultimate Oscillator
  talib_momentum_ultosc = talib.ULTOSC(df.High.values, df.Low.values, df.Close.values, timeperiod1=7, timeperiod2=14, timeperiod3=28)
  # WILLR - Williams' %R
  talib_momentum_willr = talib.WILLR(df.High.values, df.Low.values, df.Close.values, timeperiod=14)

  momentum_df =   pd.DataFrame(
    {
      # assume here multi-index
      # 'datetime': df.index.get_level_values(0),
      # 'ticker': df.index.get_level_values(1) ,

      # old way with separate columns
      'Date': df.Date.values,
      'Ticker': df.Ticker,

      'adx': talib_momentum_adx,
      'adxr': talib_momentum_adxr,
      'apo': talib_momentum_apo,
      'aroon_1': talib_momentum_aroon[0] ,
      'aroon_2': talib_momentum_aroon[1],
      'aroonosc': talib_momentum_aroonosc,
      'bop': talib_momentum_bop,
      'cci': talib_momentum_cci,
      'cmo': talib_momentum_cmo,
      'dx': talib_momentum_dx,
      'macd': talib_momentum_macd,
      'macdsignal': talib_momentum_macdsignal,
      'macdhist': talib_momentum_macdhist,
      'macd_ext': talib_momentum_macd_ext,
      'macdsignal_ext': talib_momentum_macdsignal_ext,
      'macdhist_ext': talib_momentum_macdhist_ext,
      'macd_fix': talib_momentum_macd_fix,
      'macdsignal_fix': talib_momentum_macdsignal_fix,
      'macdhist_fix': talib_momentum_macdhist_fix,
      'mfi': talib_momentum_mfi,
      'minus_di': talib_momentum_minus_di,
      'mom': talib_momentum_mom,
      'plus_di': talib_momentum_plus_di,
      'dm': talib_momentum_plus_dm,
      'ppo': talib_momentum_ppo,
      'roc': talib_momentum_roc,
      'rocp': talib_momentum_rocp,
      'rocr': talib_momentum_rocr,
      'rocr100': talib_momentum_rocr100,
      'rsi': talib_momentum_rsi,
      'slowk': talib_momentum_slowk,
      'slowd': talib_momentum_slowd,
      'fastk': talib_momentum_fastk,
      'fastd': talib_momentum_fastd,
      'fastk_rsi': talib_momentum_fastk_rsi,
      'fastd_rsi': talib_momentum_fastd_rsi,
      'trix': talib_momentum_trix,
      'ultosc': talib_momentum_ultosc,
      'willr': talib_momentum_willr,
     }
  )
  return momentum_df

In [24]:

# Volume needs to be float, not int
stocks_df['Volume'] = stocks_df['Volume']*1.0

In [25]:

# to resolve an error "Exception: input array type is not double"
# https://stackoverflow.com/questions/51712269/how-to-run-ta-lib-on-multiple-columns-of-a-pandas-dataframe
for f in ['Open','High','Low','Close', 'Volume', 'Adj Close']:
  stocks_df.loc[:,f] = stocks_df.loc[:,f].astype('float64')

In [26]:

def talib_get_volume_volatility_cycle_price_indicators(df: pd.DataFrame) -> pd.DataFrame:
        # TA-Lib Volume indicators
        # https://github.com/TA-Lib/ta-lib-python/blob/master/docs/func_groups/volume_indicators.md
        # AD - Chaikin A/D Line
        talib_ad = talib.AD(
            df.High.values, df.Low.values, df.Close.values, df.Volume.values)
        # ADOSC - Chaikin A/D Oscillator
        talib_adosc = talib.ADOSC(
            df.High.values, df.Low.values, df.Close.values, df.Volume.values, fastperiod=3, slowperiod=10)
        # OBV - On Balance Volume
        talib_obv = talib.OBV(
            df.Close.values, df.Volume.values)

        # TA-Lib Volatility indicators
        # https://github.com/TA-Lib/ta-lib-python/blob/master/docs/func_groups/volatility_indicators.md
        # ATR - Average True Range
        talib_atr = talib.ATR(
            df.High.values, df.Low.values, df.Close.values, timeperiod=14)
        # NATR - Normalized Average True Range
        talib_natr = talib.NATR(
            df.High.values, df.Low.values, df.Close.values, timeperiod=14)
        # OBV - On Balance Volume
        talib_obv = talib.OBV(
            df.Close.values, df.Volume.values)

        # TA-Lib Cycle Indicators
        # https://github.com/TA-Lib/ta-lib-python/blob/master/docs/func_groups/cycle_indicators.md
        # HT_DCPERIOD - Hilbert Transform - Dominant Cycle Period
        talib_ht_dcperiod = talib.HT_DCPERIOD(df.Close.values)
        # HT_DCPHASE - Hilbert Transform - Dominant Cycle Phase
        talib_ht_dcphase = talib.HT_DCPHASE(df.Close.values)
        # HT_PHASOR - Hilbert Transform - Phasor Components
        talib_ht_phasor_inphase, talib_ht_phasor_quadrature = talib.HT_PHASOR(
            df.Close.values)
        # HT_SINE - Hilbert Transform - SineWave
        talib_ht_sine_sine, talib_ht_sine_leadsine = talib.HT_SINE(
            df.Close.values)
        # HT_TRENDMODE - Hilbert Transform - Trend vs Cycle Mode
        talib_ht_trendmode = talib.HT_TRENDMODE(df.Close.values)

        # TA-Lib Price Transform Functions
        # https://github.com/TA-Lib/ta-lib-python/blob/master/docs/func_groups/price_transform.md
        # AVGPRICE - Average Price
        talib_avgprice = talib.AVGPRICE(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # MEDPRICE - Median Price
        talib_medprice = talib.MEDPRICE(df.High.values, df.Low.values)
        # TYPPRICE - Typical Price
        talib_typprice = talib.TYPPRICE(
            df.High.values, df.Low.values, df.Close.values)
        # WCLPRICE - Weighted Close Price
        talib_wclprice = talib.WCLPRICE(
            df.High.values, df.Low.values, df.Close.values)

        volume_volatility_cycle_price_df = pd.DataFrame(
            {'Date': df.Date.values,
             'Ticker': df.Ticker,
             # TA-Lib Volume indicators
             'ad': talib_ad,
             'adosc': talib_adosc,
             'obv': talib_obv,
             # TA-Lib Volatility indicators
             'atr': talib_atr,
             'natr': talib_natr,
             'obv': talib_obv,
             # TA-Lib Cycle Indicators
             'ht_dcperiod': talib_ht_dcperiod,
             'ht_dcphase': talib_ht_dcphase,
             'ht_phasor_inphase': talib_ht_phasor_inphase,
             'ht_phasor_quadrature': talib_ht_phasor_quadrature,
             'ht_sine_sine': talib_ht_sine_sine,
             'ht_sine_leadsine': talib_ht_sine_leadsine,
             'ht_trendmod': talib_ht_trendmode,
             # TA-Lib Price Transform Functions
             'avgprice': talib_avgprice,
             'medprice': talib_medprice,
             'typprice': talib_typprice,
             'wclprice': talib_wclprice,
             }
        )

        # Need a proper date type
        volume_volatility_cycle_price_df['Date'] = pd.to_datetime(
            volume_volatility_cycle_price_df['Date'])

        return volume_volatility_cycle_price_df

In [27]:
def talib_get_pattern_recognition_indicators(df: pd.DataFrame) -> pd.DataFrame:
# TA-Lib Pattern Recognition indicators
        # https://github.com/TA-Lib/ta-lib-python/blob/master/docs/func_groups/pattern_recognition.md
        # Nice article about candles (pattern recognition) https://medium.com/analytics-vidhya/recognizing-over-50-candlestick-patterns-with-python-4f02a1822cb5

        # CDL2CROWS - Two Crows
        talib_cdl2crows = talib.CDL2CROWS(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDL3BLACKCROWS - Three Black Crows
        talib_cdl3blackrows = talib.CDL3BLACKCROWS(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDL3INSIDE - Three Inside Up/Down
        talib_cdl3inside = talib.CDL3INSIDE(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDL3LINESTRIKE - Three-Line Strike
        talib_cdl3linestrike = talib.CDL3LINESTRIKE(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDL3OUTSIDE - Three Outside Up/Down
        talib_cdl3outside = talib.CDL3OUTSIDE(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDL3STARSINSOUTH - Three Stars In The South
        talib_cdl3starsinsouth = talib.CDL3STARSINSOUTH(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDL3WHITESOLDIERS - Three Advancing White Soldiers
        talib_cdl3whitesoldiers = talib.CDL3WHITESOLDIERS(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLABANDONEDBABY - Abandoned Baby
        talib_cdlabandonedbaby = talib.CDLABANDONEDBABY(
            df.Open.values, df.High.values, df.Low.values, df.Close.values, penetration=0)
        # CDLADVANCEBLOCK - Advance Block
        talib_cdladvancedblock = talib.CDLADVANCEBLOCK(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLBELTHOLD - Belt-hold
        talib_cdlbelthold = talib.CDLBELTHOLD(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLBREAKAWAY - Breakaway
        talib_cdlbreakaway = talib.CDLBREAKAWAY(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLCLOSINGMARUBOZU - Closing Marubozu
        talib_cdlclosingmarubozu = talib.CDLCLOSINGMARUBOZU(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLCONCEALBABYSWALL - Concealing Baby Swallow
        talib_cdlconcealbabyswall = talib.CDLCONCEALBABYSWALL(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLCOUNTERATTACK - Counterattack
        talib_cdlcounterattack = talib.CDLCOUNTERATTACK(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLDARKCLOUDCOVER - Dark Cloud Cover
        talib_cdldarkcloudcover = talib.CDLDARKCLOUDCOVER(
            df.Open.values, df.High.values, df.Low.values, df.Close.values, penetration=0)
        # CDLDOJI - Doji
        talib_cdldoji = talib.CDLDOJI(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLDOJISTAR - Doji Star
        talib_cdldojistar = talib.CDLDOJISTAR(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLDRAGONFLYDOJI - Dragonfly Doji
        talib_cdldragonflydoji = talib.CDLDRAGONFLYDOJI(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLENGULFING - Engulfing Pattern
        talib_cdlengulfing = talib.CDLENGULFING(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)

        # CDLEVENINGDOJISTAR - Evening Doji Star
        talib_cdleveningdojistar = talib.CDLEVENINGDOJISTAR(
            df.Open.values, df.High.values, df.Low.values, df.Close.values, penetration=0)
        # CDLEVENINGSTAR - Evening Star
        talib_cdleveningstar = talib.CDLEVENINGSTAR(
            df.Open.values, df.High.values, df.Low.values, df.Close.values, penetration=0)
        # CDLGAPSIDESIDEWHITE - Up/Down-gap side-by-side white lines
        talib_cdlgapsidesidewhite = talib.CDLGAPSIDESIDEWHITE(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLGRAVESTONEDOJI - Gravestone Doji
        talib_cdlgravestonedoji = talib.CDLGRAVESTONEDOJI(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLHAMMER - Hammer
        talib_cdlhammer = talib.CDLHAMMER(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLHANGINGMAN - Hanging Man
        talib_cdlhangingman = talib.CDLHANGINGMAN(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLHARAMI - Harami Pattern
        talib_cdlharami = talib.CDLHARAMI(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLHARAMICROSS - Harami Cross Pattern
        talib_cdlharamicross = talib.CDLHARAMICROSS(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLHIGHWAVE - High-Wave Candle
        talib_cdlhighwave = talib.CDLHIGHWAVE(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLHIKKAKE - Hikkake Pattern
        talib_cdlhikkake = talib.CDLHIKKAKE(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLHIKKAKEMOD - Modified Hikkake Pattern
        talib_cdlhikkakemod = talib.CDLHIKKAKEMOD(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)

        # CDLHOMINGPIGEON - Homing Pigeon
        talib_cdlhomingpigeon = talib.CDLHOMINGPIGEON(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLIDENTICAL3CROWS - Identical Three Crows
        talib_cdlidentical3crows = talib.CDLIDENTICAL3CROWS(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLINNECK - In-Neck Pattern
        talib_cdlinneck = talib.CDLINNECK(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLINVERTEDHAMMER - Inverted Hammer
        talib_cdlinvertedhammer = talib.CDLINVERTEDHAMMER(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLKICKING - Kicking
        talib_cdlkicking = talib.CDLKICKING(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLKICKINGBYLENGTH - Kicking - bull/bear determined by the longer marubozu
        talib_cdlkickingbylength = talib.CDLKICKINGBYLENGTH(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLLADDERBOTTOM - Ladder Bottom
        talib_cdlladderbottom = talib.CDLLADDERBOTTOM(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLLONGLEGGEDDOJI - Long Legged Doji
        talib_cdllongleggeddoji = talib.CDLLONGLEGGEDDOJI(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLLONGLINE - Long Line Candle
        talib_cdllongline = talib.CDLLONGLINE(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLMARUBOZU - Marubozu
        talib_cdlmarubozu = talib.CDLMARUBOZU(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLMATCHINGLOW - Matching Low
        talib_cdlmatchinglow = talib.CDLMATCHINGLOW(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)

        # CDLMATHOLD - Mat Hold
        talib_cdlmathold = talib.CDLMATHOLD(
            df.Open.values, df.High.values, df.Low.values, df.Close.values, penetration=0)
        # CDLMORNINGDOJISTAR - Morning Doji Star
        talib_cdlmorningdojistar = talib.CDLMORNINGDOJISTAR(
            df.Open.values, df.High.values, df.Low.values, df.Close.values, penetration=0)
        # CDLMORNINGSTAR - Morning Star
        talib_cdlmorningstar = talib.CDLMORNINGSTAR(
            df.Open.values, df.High.values, df.Low.values, df.Close.values, penetration=0)
        # CDLONNECK - On-Neck Pattern
        talib_cdlonneck = talib.CDLONNECK(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLPIERCING - Piercing Pattern
        talib_cdlpiercing = talib.CDLPIERCING(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLRICKSHAWMAN - Rickshaw Man
        talib_cdlrickshawman = talib.CDLRICKSHAWMAN(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLRISEFALL3METHODS - Rising/Falling Three Methods
        talib_cdlrisefall3methods = talib.CDLRISEFALL3METHODS(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLSEPARATINGLINES - Separating Lines
        talib_cdlseparatinglines = talib.CDLSEPARATINGLINES(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLSHOOTINGSTAR - Shooting Star
        talib_cdlshootingstar = talib.CDLSHOOTINGSTAR(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLSHORTLINE - Short Line Candle
        talib_cdlshortline = talib.CDLSHORTLINE(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLSPINNINGTOP - Spinning Top
        talib_cdlspinningtop = talib.CDLSPINNINGTOP(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)

        # CDLSTALLEDPATTERN - Stalled Pattern
        talib_cdlstalledpattern = talib.CDLSTALLEDPATTERN(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLSTICKSANDWICH - Stick Sandwich
        talib_cdlsticksandwich = talib.CDLSTICKSANDWICH(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLTAKURI - Takuri (Dragonfly Doji with very long lower shadow)
        talib_cdltakuru = talib.CDLTAKURI(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLTASUKIGAP - Tasuki Gap
        talib_cdltasukigap = talib.CDLTASUKIGAP(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLTHRUSTING - Thrusting Pattern
        talib_cdlthrusting = talib.CDLTHRUSTING(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLTRISTAR - Tristar Pattern
        talib_cdltristar = talib.CDLTRISTAR(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLUNIQUE3RIVER - Unique 3 River
        talib_cdlunique3river = talib.CDLUNIQUE3RIVER(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLUPSIDEGAP2CROWS - Upside Gap Two Crows
        talib_cdlupsidegap2crows = talib.CDLUPSIDEGAP2CROWS(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)
        # CDLXSIDEGAP3METHODS - Upside/Downside Gap Three Methods
        talib_cdlxsidegap3methods = talib.CDLXSIDEGAP3METHODS(
            df.Open.values, df.High.values, df.Low.values, df.Close.values)

        pattern_indicators_df = pd.DataFrame(
            {'Date': df.Date.values,
             'Ticker': df.Ticker,
             # TA-Lib Pattern Recognition indicators
             'cdl2crows': talib_cdl2crows,
             'cdl3blackrows': talib_cdl3blackrows,
             'cdl3inside': talib_cdl3inside,
             'cdl3linestrike': talib_cdl3linestrike,
             'cdl3outside': talib_cdl3outside,
             'cdl3starsinsouth': talib_cdl3starsinsouth,
             'cdl3whitesoldiers': talib_cdl3whitesoldiers,
             'cdlabandonedbaby': talib_cdlabandonedbaby,
             'cdladvancedblock': talib_cdladvancedblock,
             'cdlbelthold': talib_cdlbelthold,
             'cdlbreakaway': talib_cdlbreakaway,
             'cdlclosingmarubozu': talib_cdlclosingmarubozu,
             'cdlconcealbabyswall': talib_cdlconcealbabyswall,
             'cdlcounterattack': talib_cdlcounterattack,
             'cdldarkcloudcover': talib_cdldarkcloudcover,
             'cdldoji': talib_cdldoji,
             'cdldojistar': talib_cdldojistar,
             'cdldragonflydoji': talib_cdldragonflydoji,
             'cdlengulfing': talib_cdlengulfing,
             'cdleveningdojistar': talib_cdleveningdojistar,
             'cdleveningstar': talib_cdleveningstar,
             'cdlgapsidesidewhite': talib_cdlgapsidesidewhite,
             'cdlgravestonedoji': talib_cdlgravestonedoji,
             'cdlhammer': talib_cdlhammer,
             'cdlhangingman': talib_cdlhangingman,
             'cdlharami': talib_cdlharami,
             'cdlharamicross': talib_cdlharamicross,
             'cdlhighwave': talib_cdlhighwave,
             'cdlhikkake': talib_cdlhikkake,
             'cdlhikkakemod': talib_cdlhikkakemod,
             'cdlhomingpigeon': talib_cdlhomingpigeon,
             'cdlidentical3crows': talib_cdlidentical3crows,
             'cdlinneck': talib_cdlinneck,
             'cdlinvertedhammer': talib_cdlinvertedhammer,
             'cdlkicking': talib_cdlkicking,
             'cdlkickingbylength': talib_cdlkickingbylength,
             'cdlladderbottom': talib_cdlladderbottom,
             'cdllongleggeddoji': talib_cdllongleggeddoji,
             'cdllongline': talib_cdllongline,
             'cdlmarubozu': talib_cdlmarubozu,
             'cdlmatchinglow': talib_cdlmatchinglow,
             'cdlmathold': talib_cdlmathold,
             'cdlmorningdojistar': talib_cdlmorningdojistar,
             'cdlmorningstar': talib_cdlmorningstar,
             'cdlonneck': talib_cdlonneck,
             'cdlpiercing': talib_cdlpiercing,
             'cdlrickshawman': talib_cdlrickshawman,
             'cdlrisefall3methods': talib_cdlrisefall3methods,
             'cdlseparatinglines': talib_cdlseparatinglines,
             'cdlshootingstar': talib_cdlshootingstar,
             'cdlshortline': talib_cdlshortline,
             'cdlspinningtop': talib_cdlspinningtop,
             'cdlstalledpattern': talib_cdlstalledpattern,
             'cdlsticksandwich': talib_cdlsticksandwich,
             'cdltakuru': talib_cdltakuru,
             'cdltasukigap': talib_cdltasukigap,
             'cdlthrusting': talib_cdlthrusting,
             'cdltristar': talib_cdltristar,
             'cdlunique3river': talib_cdlunique3river,
             'cdlupsidegap2crows': talib_cdlupsidegap2crows,
             'cdlxsidegap3methods': talib_cdlxsidegap3methods
             }
        )

        # Need a proper date type
        pattern_indicators_df['Date'] = pd.to_datetime(
            pattern_indicators_df['Date'])

        return pattern_indicators_df

In [28]:
stocks_df1 =stocks_df[stocks_df['stock_category']=='LARGEST']

In [29]:

import pandas as pd
# supress warnings
pd.options.mode.chained_assignment = None  # default='warn'

# adding Momentum / Pattern/ Volume features to all tickers - one by one
merged_df_with_tech_ind = pd.DataFrame({'A' : []})

current_ticker_data = None
i=0
for ticker in LARGEST_STOCKS:
  i+=1
  print(f'{i}/{len(LARGEST_STOCKS)} Current ticker is {ticker}')
  current_ticker_data = stocks_df1[stocks_df1.Ticker.isin([ticker])]
  # need to have same 'utc' time on both sides
  # https://stackoverflow.com/questions/73964894/you-are-trying-to-merge-on-datetime64ns-utc-and-datetime64ns-columns-if-yo
  current_ticker_data['Date']= pd.to_datetime(current_ticker_data['Date'], utc=True)

  # 3 calls to get additional features
  df_current_ticker_momentum_indicators = talib_get_momentum_indicators_for_one_ticker(current_ticker_data)
  df_current_ticker_momentum_indicators["Date"]= pd.to_datetime(df_current_ticker_momentum_indicators['Date'], utc=True)
  # df_current_ticker_momentum_indicators.loc[:,"Date"]= pd.to_datetime(df_current_ticker_momentum_indicators['Date'], utc=True)

  df_current_ticker_volume_indicators = talib_get_volume_volatility_cycle_price_indicators(current_ticker_data)
  df_current_ticker_volume_indicators["Date"]= pd.to_datetime(df_current_ticker_volume_indicators['Date'], utc=True)
  # df_current_ticker_volume_indicators.loc[:,"Date"]= pd.to_datetime(df_current_ticker_volume_indicators['Date'], utc=True)

  df_current_ticker_pattern_indicators = talib_get_pattern_recognition_indicators(current_ticker_data)
  df_current_ticker_pattern_indicators["Date"]= pd.to_datetime(df_current_ticker_pattern_indicators['Date'], utc=True)
  # df_current_ticker_pattern_indicators.loc[:,"Date"]= pd.to_datetime(df_current_ticker_pattern_indicators['Date'], utc=True)

  # merge to one df
  m1 = pd.merge(current_ticker_data, df_current_ticker_momentum_indicators.reset_index(), how = 'left', on = ["Date","Ticker"], validate = "one_to_one")
  m2 = pd.merge(m1, df_current_ticker_volume_indicators.reset_index(), how = 'left', on = ["Date","Ticker"], validate = "one_to_one")
  m3 = pd.merge(m2, df_current_ticker_pattern_indicators.reset_index(), how = 'left', on = ["Date","Ticker"], validate = "one_to_one")

  if merged_df_with_tech_ind.empty:
    merged_df_with_tech_ind = m3
  else:
    merged_df_with_tech_ind = pd.concat([merged_df_with_tech_ind,m3], ignore_index = False)

1/33 Current ticker is MSFT
2/33 Current ticker is AAPL
3/33 Current ticker is GOOG
4/33 Current ticker is NVDA
5/33 Current ticker is AMZN
6/33 Current ticker is META
7/33 Current ticker is BRK-B
8/33 Current ticker is LLY
9/33 Current ticker is AVGO
10/33 Current ticker is V
11/33 Current ticker is JPM
12/33 Current ticker is NVO
13/33 Current ticker is MC.PA
14/33 Current ticker is ASML
15/33 Current ticker is RMS.PA
16/33 Current ticker is OR.PA
17/33 Current ticker is SAP
18/33 Current ticker is ACN
19/33 Current ticker is TTE
20/33 Current ticker is SIE.DE
21/33 Current ticker is IDEXY
22/33 Current ticker is CDI.PA
23/33 Current ticker is RELIANCE.NS
24/33 Current ticker is TCS.NS
25/33 Current ticker is HDB
26/33 Current ticker is BHARTIARTL.NS
27/33 Current ticker is IBN
28/33 Current ticker is SBIN.NS
29/33 Current ticker is LICI.NS
30/33 Current ticker is INFY
31/33 Current ticker is ITC.NS
32/33 Current ticker is HINDUNILVR.NS
33/33 Current ticker is LT.NS

In [30]:
merged_df_with_tech_ind

,Open,High,Low,Close,Adj Close,Volume,Ticker,Year,Month,Weekday,...,cdlspinningtop,cdlstalledpattern,cdlsticksandwich,cdltakuru,cdltasukigap,cdlthrusting,cdltristar,cdlunique3river,cdlupsidegap2crows,cdlxsidegap3methods
0,0.088542,0.101563,0.088542,0.097222,0.060163,1.031789e+09,MSFT,1986,3,3,...,0,0,0,0,0,0,0,0,0,0
1,0.097222,0.102431,0.097222,0.100694,0.062311,3.081600e+08,MSFT,1986,3,4,...,0,0,0,0,0,0,0,0,0,0
2,0.100694,0.103299,0.100694,0.102431,0.063386,1.331712e+08,MSFT,1986,3,0,...,0,0,0,0,0,0,0,0,0,0
3,0.102431,0.103299,0.098958,0.099826,0.061774,6.776640e+07,MSFT,1986,3,1,...,0,0,0,0,0,0,0,0,0,0
4,0.099826,0.100694,0.097222,0.098090,0.060700,4.789440e+07,MSFT,1986,3,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5423,3590.050049,3634.149902,3576.050049,3599.500000,3599.500000,3.748847e+06,LT.NS,2024,5,3,...,100,0,0,0,0,0,0,0,0,0
5424,3610.000000,3622.000000,3488.449951,3499.800049,3499.800049,4.079696e+06,LT.NS,2024,5,4,...,0,0,0,0,0,0,0,0,0,0
5425,3522.800049,3527.000000,3441.100098,3463.300049,3463.300049,2.614667e+06,LT.NS,2024,5,0,...,0,0,0,0,0,0,0,0,0,0
5426,3479.399902,3496.000000,3425.000000,3427.750000,3427.750000,3.376013e+06,LT.NS,2024,5,1,...,0,0,0,0,0,0,0,0,0,0
5427,3429.000000,3477.449951,3367.800049,3461.850098,3461.850098,2.844528e+06,LT.NS,2024,5,2,...,0,0,0,0,0,0,0,0,0,0

In [31]:
merged_df_with_tech_ind['Date'] = pd.to_datetime(merged_df_with_tech_ind['Date']).dt.tz_localize(None)
merged_df_with_tech_ind['gross'] =merged_df_with_tech_ind['Adj Close'].shift(-5)- merged_df_with_tech_ind['Adj Close']

In [32]:
merged_df_with_tech_ind['gross'].sort_values(ascending=False)
merged_df_with_tech_ind['gross'].describe()

count    221144.000000
mean          0.078916
std          34.098311
min       -3977.693271
25%          -0.533038
50%           0.021231
75%           0.977731
max         335.449951
Name: gross, dtype: float64

In [33]:
merged_df_with_tech_ind2 = merged_df_with_tech_ind[(merged_df_with_tech_ind.Date>='2014-01-01')&(merged_df_with_tech_ind.Date<='2023-12-31')]

In [34]:
merged_df_with_tech_ind2['trade']= (merged_df_with_tech_ind2['Date'].dt.dayofweek==4) & (merged_df_with_tech_ind2['cci']>200)

In [35]:
merged_df_with_tech_ind2

,Open,High,Low,Close,Adj Close,Volume,Ticker,Year,Month,Weekday,...,cdlsticksandwich,cdltakuru,cdltasukigap,cdlthrusting,cdltristar,cdlunique3river,cdlupsidegap2crows,cdlxsidegap3methods,gross,trade
7011,37.349998,37.400002,37.099998,37.160000,31.233055,30632200.0,MSFT,2014,1,3,...,0,0,0,0,0,0,0,0,-1.370016,False
7012,37.200001,37.220001,36.599998,36.910000,31.022934,31134800.0,MSFT,2014,1,4,...,0,0,0,0,0,0,0,0,-0.731224,False
7013,36.849998,36.889999,36.110001,36.130001,30.367342,43603700.0,MSFT,2014,1,0,...,0,0,0,0,0,0,0,0,-0.966576,False
7014,36.330002,36.490002,36.209999,36.410000,30.602686,35802800.0,MSFT,2014,1,1,...,0,0,0,0,0,0,0,0,-0.529514,False
7015,36.000000,36.139999,35.580002,35.759998,30.056356,59971700.0,MSFT,2014,1,2,...,0,0,0,0,0,0,0,0,0.840502,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5338,3424.000000,3496.000000,3408.600098,3477.949951,3477.949951,1681707.0,LT.NS,2023,12,4,...,0,0,0,0,0,0,0,0,47.500000,False
5339,3477.949951,3508.350098,3477.949951,3490.050049,3490.050049,1072263.0,LT.NS,2023,12,1,...,0,0,0,0,0,0,0,0,-51.949951,False
5340,3510.000000,3549.000000,3504.149902,3544.000000,3544.000000,1389266.0,LT.NS,2023,12,2,...,0,0,0,0,0,0,0,0,-103.649902,False
5341,3545.000000,3559.949951,3500.500000,3518.050049,3518.050049,3371121.0,LT.NS,2023,12,3,...,0,0,0,0,0,0,0,0,-59.350098,False
5342,3531.000000,3540.000000,3495.000000,3526.000000,3526.000000,968577.0,LT.NS,2023,12,4,...,0,0,0,0,0,0,0,0,-4.100098,False

In [36]:
# merged_df_with_tech_ind['gross'] =(merged_df_with_tech_ind['Adj Close'].shift(-5)- merged_df_with_tech_ind['Adj Close'])

In [37]:
# merged_df_with_tech_ind['InvestAMOUNT'] = 1000 / merged_df_with_tech_ind['Adj Close'] if merged_df_with_tech_ind['trade'] == true else None

In [38]:
merged_df_with_tech_ind2['InvestAMOUNT'] = np.where(merged_df_with_tech_ind2['trade'], 1000 / merged_df_with_tech_ind2['Adj Close'], None)
merged_df_with_tech_ind2['invest_gross'] = np.where(merged_df_with_tech_ind2['trade'], merged_df_with_tech_ind2['InvestAMOUNT']*merged_df_with_tech_ind2['gross'], None)

In [39]:
# merged_df_with_tech_ind['invest_gross'] = np.where(merged_df_with_tech_ind['trade'], merged_df_with_tech_ind['InvestAMOUNT'] merged_df_with_tech_ind['gross'], None)
merged_df_with_tech_ind2[(merged_df_with_tech_ind2['trade'])]['invest_gross'].sum()

1048.2587088736745

In [40]:
merged_df_with_tech_ind2[(merged_df_with_tech_ind2['trade'])&(merged_df_with_tech_ind2['invest_gross']<0)]['invest_gross'].sort_values(ascending=False)

5117    -0.877188
5357    -0.888949
2936    -1.072364
5711    -1.115407
8057    -1.154807
          ...
929    -72.542603
2746   -73.365734
6208   -81.165221
5138   -81.850571
7533   -89.490007
Name: invest_gross, Length: 212, dtype: object

In [43]:
merged_df_with_tech_ind2[(merged_df_with_tech_ind2['trade'])]['invest_gross'].sum()

1048.2587088736745

In [42]:
merged_df_with_tech_ind2.describe()

,Open,High,Low,Close,Adj Close,Volume,Year,Month,Weekday,Date,...,cdlstalledpattern,cdlsticksandwich,cdltakuru,cdltasukigap,cdlthrusting,cdltristar,cdlunique3river,cdlupsidegap2crows,cdlxsidegap3methods,gross
count,80762.000000,80762.000000,80762.000000,80762.000000,80762.000000,8.076200e+04,80762.000000,80762.000000,80762.000000,80762,...,80762.000000,80762.000000,80762.000000,80762.000000,80762.000000,80762.000000,80762.000000,80762.000000,80762.000000,80762.000000
mean,364.649795,368.407299,360.696962,364.558444,344.853101,1.510686e+07,2018.520653,6.541443,2.015787,2019-01-08 17:02:38.955944448,...,-0.194398,0.157252,1.378123,0.032193,-0.699586,0.004953,0.154776,-0.079245,0.008667,1.218509
min,3.857500,3.880000,3.830000,3.840000,3.622622,0.000000e+00,2014.000000,1.000000,0.000000,2014-01-01 00:00:00,...,-100.000000,0.000000,0.000000,-100.000000,-100.000000,-100.000000,0.000000,-100.000000,-100.000000,-388.318970
25%,59.840000,60.369999,59.274374,59.869999,53.936840,1.192274e+06,2016.000000,4.000000,1.000000,2016-07-08 00:00:00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.770004
50%,149.560005,150.965004,147.949997,149.584999,140.517845,3.407550e+06,2019.000000,7.000000,2.000000,2019-01-10 12:00:00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.249970
75%,345.557495,349.433815,341.237503,345.380013,331.691269,1.369894e+07,2021.000000,10.000000,3.000000,2021-07-16 00:00:00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.254601
max,4033.949951,4043.000000,3980.000000,4019.149902,3843.191895,1.065523e+09,2023.000000,12.000000,6.000000,2023-12-29 00:00:00,...,0.000000,100.000000,100.000000,100.000000,0.000000,100.000000,100.000000,0.000000,100.000000,335.236572
std,579.000948,584.627214,572.969769,578.748787,556.778185,3.323316e+07,2.878280,3.431550,1.402427,NaN,...,4.404803,3.962409,11.658250,7.757353,8.334871,3.588520,3.931134,2.813954,7.669123,22.085106